# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\SpringBootPrj\Prjs\spring-boot-web-jsp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
